<p>テスト</p><a href="https://twitter.com/intent/tweet?url=腱鞘炎にお気を付けてください%20%23RUNTEQ%20%23陰キャ https://puchipuchi.onrender.com
" target="_blank" class="no-click">陰キャ実験場</a>
<%= link_to 'デプロイでいやほい', "https://twitter.com/intent/tweet?url=デプロイの喜びを分かち合おう%20%23RUNTEQ%20%23陰キャ https://deploy-app-zpmj.onrender.com", target: "_blank", class: "no-click" %>